.jumbotron {
    background-image: url(/charlesdomeracki.github.io/img/kongskullisland.jpg);
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

